body{
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #0f0f0f;
}
input{
    border-width: 4px;
    height: 2rem;
    border-radius: 10px;
    font-size: 1.5em;
}
input[type="submit"]{
    font-size: 1rem;
}
#GameBoard{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-width: 10px;
    border-radius: 30px;
    background-color: gray;
}
#GameBoard>div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.gameImg{
    width: 100%;
    height: 100%;
}
.Cell{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 2px;
    padding: 0px;
    text-align: center;
    border-color: white;
    border-style:ridge;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.Hidden:hover{
    background-color: #404040;
}
.Hidden:active{
    background-color: gray;
}
.Hidden{
    background-color: black;
    color: white;
}
div.input{
    display: flex;
    flex-direction: column;
}
#GameOpt{
    background-color: #3b3b3b;
    border-radius: 30px;
    padding: 50px;
    margin-bottom: 50px;
}
#GameOpt>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background-color: gray;
    border-color: black;
    border-radius: 30px;

}
#GameOpt>div>div{
    width: 50%;
}