body{
    flex-direction: column;
    display: flex;
    align-content: center;
    justify-content: center;
}
input{
    border-width: 4px;
    height: 2rem;
    border-radius: 10px;
    font-size: 1.5em;
}
input[type="submit"]{
    font-size: 1rem;
}
#GameBoard{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#GameBoard>div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.Cell{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 2px;
    padding: 0px;
    text-align: center;
    border-color: wheat;
    border-style:ridge;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.Hidden:active{
    background-color: gray;
}
.Hidden{
    background-color: black;
    color: white;
}
div.input{
    display: flex;
    flex-direction: column;
}
#GameOpt>div{
    margin-bottom: 30px;
}